# --- Python ---
__pycache__/
*.py[cod]

# --- Environments ---
.venv/
venv/
env/

# --- Snakemake ---
.snakemake/

# --- Logs / temp ---
*.log
*.tmp
*~
*.swp
*.docx
# --- Data ---
data/curated/*.fasta

# --- Results ---
results/alignments/

